# from: https://github.com/ahunnargikar/vagrant-mesos/blob/master/marathon/marathon.conf
ZKMASTER="--master zk://10.3.0.89:2181,10.3.0.90:2181,10.3.0.91:2181/mesos"
ZKHOSTS="--zk_hosts zk://10.3.0.89:2181,10.3.0.90:2181,10.3.0.91:2181"
OPTIONS="--checkpoint --ha --zk_timeout 30000 --hostname={{ ansible_eth2.ipv4.address }}"
